pyTelegramBotAPI
requests
python-dotenv
python-telegram-bot==21.6
apscheduler
feedparser
requests
python-dotenv
sqlalchemy
openai
python-dateutil
asyncpg
aiosqlite
python-multipart
pydantic
python-telegram-bot[asyncio]==21.6
telebot
